@import 'jeet'
//edit()


.anti-modal-box
  align(horizontal)
  width: 1200px

.ap_closeMdoal
  float: right

.ap_titleHeader
  align(horizontal)
  margin-bottom: 50px


.ap_inputContainer
  margin-top: 50px !important

.ap_rightSegment
  column(1/2)

.ap_leftSegment
  column(1/2)
  
  