@import 'jeet'
//edit()



#projectSortMenu
  column(1/3)
  //Fix this shit
  shift(1/3.7)
  text-align: center
  padding-bottom: 10px
  border-bottom: 5px solid #9CC0EC


#projectTiles
  span(7/8)
  .cards
    column(9/10)
    shift(.5/10)
    
    .card
      column(1/4 9/10, cycle: 4)
      height: 150px
      .bottom
        position: absolute
        bottom: 0

