
<template name="cp_SortMenu">
<div id="cp_SortMenu">
  <div id="projectTitle">
    <div class="text">
    <i class="chevron left icon"></i>
      Project Title
    <i class="chevron right icon"></i>  
    </div>
  </div>
  <div id="cp_SortOuterContainer">
  <div class="ui text menu" id="cp_sortContainer">
    <div class="header item">Sort 

    <div class="ui dropdown" id="sortDropDown">
      <div class="text">All</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Categories</div>
        <div class="item">All</div>
        <div class="item">New</div>
        <div class="item">In-Progress</div>
        <div class="item">Completed</div>
      </div>
    </div>

    By</div>
    <a class="active item">
      <i class="wait icon"></i> Newest
    </a>
    <a class="item">
      <i class="mail icon"></i> Most Comments
    </a>
    <a class="item">
      <i class="sort alphabet ascending icon"></i> ABC's
    </a>
  </div>  
  </div>  
</div>
<div id="cp_shadow">
</div>

</template>