@import 'jeet'
//edit()

#login
  span(8/8)

  .registerAnimationContainer
    cf()
  .userLoginInContainer
    span(1/3)
    shift(1/3)
    margin-bottom: 13px
    .loginButton
      column(1/1)
      text-align: center
      font-size: 2em
      border-radius: 6px
    
  .loginDivider
    span(1/1)
    text-align: center
    border-top: 5px solid black
    border-bottom: 5px solid pink

  .signUpContainer
    span(1/3)
    shift(1/3)
    .button
      column(3/3)
      border-radius: 6px
      text-align: center
      font-size: 2em