@import 'jeet'

#container
  span(1/8)
  min-height: 100%

#sidebar
  span(1/8)
  position: fixed
  .homeHeader
    &:hover
      cursor: pointer
      background: blue
  .logout
    position: absolute
    bottom: 0;
    border-radius: 0 .3857rem 0 0
    background: red
    

#cancleRemoveProject
  color: red
  transition: all 0.5s ease-in-out;
  &:hover
    background: rgba(209, 63, 25, 0.8)
    color: white
    transition: all 0.5s ease-in-out;