
<template name="sidebar">
<div id="container">
    <div class="ui vertical menu" id="sidebar">
  
  <div class="header item homeHeader">
  {{#linkTo route="home.link"}}
    <i class="home icon"></i>
    Home
  {{/linkTo}}
  </div>
  <div class="item">
    Projects
    <div class="menu">
      <a class="item" id="addProject">Add</a>
      {{#if removeProject}}
        <a class="item" id="cancleRemoveProject"><b>Cancle Remove</b></a>
        {{else}}
        <a class="item" id="removeProject">Remove</a>
      {{/if}}
    </div>
  </div>
  <a class="item">
    <i class="grid layout icon"></i> Browse
  </a>
  <a class="item">
    <i class="mail icon"></i> Messages
  </a>

<!-- More -->
  <div class="ui dropdown item">
    <i class="dropdown icon"></i>
    More
    <div class="menu">
      <a class="item"><i class="edit icon"></i> Edit Profile</a>
      <a class="item"><i class="globe icon"></i> Choose Language</a>
      <a class="item"><i class="settings icon"></i> Account Settings</a>
    </div>
  </div>
  <!-- Feed -->
  <div class="sidebarFeed ui segment">
    <h4 class="ui horizontal header divider">
      <i class="bar chart icon"></i>
      Feed
    </h4>
  </div>


  <a class="item logout" id="logout">
    <i class="grid power icon"></i> Logout
  </a>

  </div>
</div>
</template>