@import 'jeet'

#container
  span(1/8)
  min-height: 100%

#sidebar
  span(1/8)
  position: fixed
  .homeHeader
    &:hover
      cursor: pointer
      background: blue
  .logout
    position: absolute
    bottom: 0;
    border-radius: 0 .3857rem 0 0
    background: red