<template name="Layout">
  {{#if currentUser}}
    {{> sidebar}}
  {{/if}}
  {{> yield}}
</template>

<!--  -->
<!-- Login -->
<!--  -->
<template name="loginView">
  {{> loginPrompt}}
</template>


<!--  -->
<!-- Project Tiltes -->
<!--  -->
<!-- Possibly think about using a dynamic template -->
<template name="projectsView">
  {{> projectSortMenu}}
  {{> projectTiles}}
</template>



<!--  -->
<!-- Indivitual Project -->
<!--  -->
<template name="indvProject">
  {{> currentProject}}
</template>