<template name="login">
<div id="login">
<h1 class="ui icon header">
  <i class="sign in icon"></i>
  <div class="content">
    Login
  </div>
</h1>

<div class="userLoginInContainer">
  <div class="ui form segment">
    <div class="field">
      <label>Username</label>
      <div class="ui left icon input">
        <input type="text" placeholder="Username">
        <i class="user icon"></i>
      </div>
    </div>
    <div class="field">
      <label>Password</label>
      <div class="ui left icon input">
        <input type="password">
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="ui blue submit button labeled icon loginButton">
      <i class="chevron right icon"></i>
      Login
    </div>
  </div>  
</div>

  <div class="loginDivider">
    <p>Put something in here</p>
  </div>

<div class="signUpContainer ui form segment">
  <div class="center aligned column">
    <div class="green ui labeled icon button">
      <i class="signup icon"></i>
      Sign Up
    </div>
  </div>
</div>

</div>
</template>